/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Main style */

.magin-r {
	margin-right: 0.5rem;
}

.margin-l {
	margin-left: 0.5rem;
}

.white-text {
	color: white !important;
}

.main-container {
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.error-modal {
	color: red;
	display:block;
}

.error-label {
	color:red;
}

.file-list-row {
	padding: 0.3rem 0.5rem;
}

#list-load-marker {
	height: 0;
}

.file-list-card {
	cursor: pointer;
}

.comment-list-row {
	padding: 0.3rem 0.5rem;
}

